body {
    background-image: url(./img/anders-jilden-AkUR27wtaxs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#form {
    text-align: center;
    margin-top: 100px;
    background-color: rgb(255, 255, 255, 0.6);
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border-radius: 8px;
}

#form input {
    display: block;
    margin: 12px auto 12px;
}

#form h3 {
    color: rgb(9, 8, 8);
}

input {
    text-align: center;
    padding: 4px 16px;
    border-radius: 4px;
    border: 1.5px solid rgb(0,0,0,0.15);
    background: rgb(0,0,0, 0.15);
    transition: 0.1s;
    color: black;
    font-weight: bolder;
}

#enviar {
    padding: 4px 109px;
    transition: 0.1s;
    border: none;
    background-color: rgb(122, 122, 122);
    color: rgb(250, 248, 248);
    font-weight: bold;
    
}

#enviar:hover {
    cursor: pointer;
    background-color: rgb(136, 135, 135);
}

input:focus {
    border: 1.5px solid rgb(3, 191, 15);
    outline: none;
    /* background: rgb(255, 255, 255, .5); */
}

.input-vacio {
    border: 1.5px solid red!important;
    
}