#form {
    text-align: center;
    margin-top: 100px;
}

#form input {
    display: block;
    margin: 12px auto 12px;
}

input {
    text-align: center;
    padding: 4px 16px;
    border-radius: 4px;
    border: 1px solid rgb(45, 44, 44);
}